body{background-color:#1e2126;}
a{text-decoration:none;}
.tex1{font-family: 'Castoro', serif;font-family: 'Roboto', sans-serif;font-family: 'Tai Heritage Pro', serif; font-size:30px; margin-left:50px;color:#fcfcfc;text-align:center;}
.tex1:hover{color: #8d89c9;}